<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/layout.css}" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
<header>
    <ul>
        <li>
            <img th:src="@{/imgs/transfer.png}" alt=" "/>
            <a href="#"
            ><b>Thu cũ&nbsp;</b> Giá ngon &nbsp;<b>- &nbsp;</b>
                <b>Lên đời&nbsp;</b> tiết&nbsp; kiệm</a>
        </li>
        <li>
            <img th:src="@{/imgs/fast-delivery.png}" alt="" />
            <a href="#"
            ><b>Giao nhanh&nbsp;</b> <b>- &nbsp;</b> Miễn phí&nbsp;</b> cho đơn từ 300k</a>
        </li>
        <li>
            <img th:src="@{/imgs/badge.png}" alt="" />
            <a href="#"
            >Sản phẩm &nbsp; <b>Chính hãng &nbsp;</b> <b>-&nbsp;</b>
                <b>Xuất VAT&nbsp;</b> đầy đủ</a>
        </li>
    </ul>
</header>
</body>
</html>